.payload-view {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.payload-view .code-block {
  flex: 1;
  overflow: auto;
  background: #1e1e1e;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 1rem;
  font-family: 'Fira Code', monospace;
  color: #a5b3ce;
  font-size: 0.9rem;
}

.payload-view pre {
  margin: 0;
}
